In [1]:
# initial imports
import pandas as pd
import os
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
from MCForecastTools import MCSimulation
%matplotlib inline

In [2]:
# load env
load_dotenv()

True

In [3]:
# read csv
data = pd.read_csv("Resources/sp500_with_esg.csv")

In [30]:
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")
quandl_api_key = os.getenv()

In [5]:
# create api object
api = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version= "v2")

In [6]:
data.head()

  Unnamed: 0 Symbol  ESG Score
0          0    MMM       35.0
1          1    AOS       33.0
2          2    ABT       30.0
3          3   ABBV       31.0
4          4   ABMD        NaN

In [7]:
# drop columns clean data
data.drop(columns=["Unnamed: 0"], inplace=True)

In [8]:
# drop nulls
data.dropna(inplace=True)

In [13]:
# drop rows equal to zero
data.drop([505], inplace=True)

In [41]:
data_sorted = data.sort_values("ESG Score")
esg_data = data_sorted.nsmallest(90, "ESG Score")
sin_data = data_sorted.nlargest(90, "ESG Score")
type(sin_data)

pandas.core.frame.DataFrame

In [26]:
timeframe = "1D"
start_date = pd.Timestamp('2005-11-06', tz='America/New_York').isoformat()
end_date = pd.Timestamp('2020-10-30', tz='America/New_York').isoformat()

In [54]:
# get stock prices
esg_tickers = esg_data["Symbol"]
esg_df = api.get_barset(
    esg_tickers,
    timeframe,
    start= start_date,
    end= end_date).df

sin_tickers = sin_data["Symbol"]
sin_df = api.get_barset(
    sin_tickers,
    timeframe,
    start= start_date,
    end= end_date).df

In [103]:
# slice data
# esg_df.columns
esg_close = esg_df.loc[:,esg_df.columns.get_level_values(1).isin({"close"})]
esg_close.head()

,AAP,ABC,ACN,ADBE,ADP,AMAT,ANSS,ANTM,APD,APTV,...,TPR,TSCO,TT,UDR,VFC,VTR,WDC,WELL,WM,XYL
,close,close,close,close,close,close,close,close,close,close,...,close,close,close,close,close,close,close,close,close,close
2008-01-02 00:00:00-05:00,37.58,12.877,36.05,41.71,37.95,17.41,40.37,76.68,68.51,NaN,...,30.59,8.535,NaN,19.95,16.167,44.43,28.59,45.14,32.26,NaN
2008-01-03 00:00:00-05:00,37.91,29.840,35.49,41.78,37.67,17.10,40.25,77.56,69.14,NaN,...,29.71,8.263,NaN,19.57,15.831,43.22,28.37,44.31,32.26,NaN
2008-01-04 00:00:00-05:00,35.69,29.193,34.87,40.25,35.96,16.75,38.59,87.63,68.40,NaN,...,28.09,7.973,NaN,19.36,15.190,41.20,25.63,43.08,31.05,NaN
2008-01-07 00:00:00-05:00,37.25,12.827,33.89,40.25,36.79,16.73,38.07,78.69,96.57,NaN,...,28.30,8.118,NaN,19.75,15.857,41.76,25.30,43.15,31.57,NaN
2008-01-08 00:00:00-05:00,35.32,30.467,33.95,39.24,36.41,16.32,37.59,77.98,66.92,NaN,...,28.21,7.938,NaN,19.42,15.346,41.10,23.43,42.20,31.72,NaN

In [104]:
# esg_column_list = []
# for item in esg_close.columns:
#     esg_column_list.append(item[0])
# print(esg_column_list)
# valid_columns = pd.DataFrame()
# for column in esg_column_list:
#     col = esg_close[column]["close"]
#     if col.isna().sum() == 0:)

esg_close.columns = [col[0] for col in esg_close.columns]

valid_cols = []
for col in esg_close.columns:
    if not esg_close[col].isnull().values.any():
        valid_cols.append(col)
        
esg_close[valid_cols].to_csv("esg_stock_data.csv")

In [ ]:
# clean data,get date and close, and set index

# sin_data.pct_change()
# esg_data.pct_change()
# dropna after calculating pct change
# plot daily returns(line)

In [ ]:
# MC_shares = MCSimulation(
#     portfolio_data = df_stock_data,
#     num_simulation = 500,
#     num_trading_days = 252*30
# )

In [ ]:
# MC_shares.calc_cumulative_return()
# MC_shares.plot_simulation()
# MC_shares.plot_distribution()
# MC_shares.summarize_cumulative_return()